<!DOCTYPE html>
<html lang="pt-br" ng-app="sample">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Angular Map</title>

        <link rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,400italic">
        
        <style type="text/css">
            .fill-parent {
                position: absolute;
                top: 0; bottom: 0;
                left: 0; right: 0;
            }
        </style>

    </head>
    <body ng-controller="sampleController">

        <map class="fill-parent" tile-layer="openStreetMap">
            <marker ng-model='position' ng-click='showPointInformation(position)'>
            <polyline ng-model='latLngs' color="#FF00FF"  ng-click='showRouteInformation(latLngs)'></polyline>
        </map>

        
        <!-- Map plugins -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoBQcMnMYMQUPyorTXHqF1UjgpP4iflrg" async defer></script>
        <script type="text/javascript" src="bower_components/leaflet/dist/leaflet.js"></script>
        <script type="text/javascript" src="bower_components/leaflet-providers/leaflet-providers.js"></script>
        <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
        
        <!-- Angular plugins -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="js/angularMap.js"></script>
        <script type="text/javascript" src="js/directives/mapDirective.js"></script>
        <script type="text/javascript" src="js/directives/markerDirective.js"></script>
        <script type="text/javascript" src="js/services/mapService.js"></script>
        <script type="text/javascript" src="js/services/mapApiService.js"></script>

        <script type="text/javascript">

            app = angular.module('sample', ['angularMap']);

            app.controller("sampleController", function($scope, mapApiService) {

                $scope.google = mapApiService.getGoogleLayer();
                $scope.openStreetMap = mapApiService.getOpenStreetMapLayer();

            });

        </script>

    </body>
</html>